
.menu-button{
    border: none;
    background: none;
    border-radius: 10px;
}

.list-navlink{
    display: none !important;
}

.menu-button:hover{
    background: whitesmoke;
}

@media (min-width: 992px) {
    .menu-button{
        visibility: hidden;
        display: none;
    }
    .list-navlink{
        display: flex !important;
    }

}