body {
    background: whitesmoke;
    font-family: 'Poppins', sans-serif;
}

.button{
    border: none;
    outline: none;
    background: none;
    border-radius: 50%;
    padding: .5rem;
    width: 2.5rem;
    height: 2.5rem;
}
.button:hover {
    background: gray;
}

.vertical-menu__container{
    display: none !important;
}

.detail-item__container{
    flex-direction: column;
}

@media (min-width: 756px) {
    .detail-item__container{
        flex-direction: row;
    }
}


/* Grande: Desde 992px en adelante */
@media (min-width: 992px) {
    .menu-button{
        display: none !important;
    }
    .vertical-menu__container{
        display: flex !important;
    }
    
    
    
}
